<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('index') }}">BOURSICODEURS</a>
      <div class="collapse navbar-collapse" id="">
            <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('index') }}">Entrainement/Prédiction</a>
                  </li>
                   <li>
                      <a class="nav-link" href="{{ url_for('list_instrument') }}">Actualiser la bdd</a>
                  </li>
                    <li>
                      <a class="nav-link" href="{{ url_for('bot') }}">Bot</a>
                  </li>
            </ul>
  </div>

</nav>