<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>Boursicodeurs</title>
    <link rel="stylesheet" href="static/css/bootstrap-4.2.1-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/bootstrap-4.2.1-dist/styles.css"/>
    <link rel="stylesheet" href="chart.css"/>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>
    <div class="container-fluid">
              <header class="row text-white">
                    <h1>Boursicodeurs</h1>
                    <p>Site en construction</p>
              </header>
        {% include 'includes/navbar.html' %}

        <!-- Messages flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                    <div class="alert alert-info"
                            <ul class=flashes>
                                    {% for category, message in messages %}
                                        <li class="{{ category }}">{{ message }}</li>
                                    {% endfor %}
                            </ul>
                    </div>
              {% endif %}
        {% endwith %}


          <div class="p-5">
                <!-- main content -->
                {% block body %}
                {% endblock %}
          </div>

          <footer class="row text-white">
                <p>L'appli des Boursicodeurs fait par des Boursicodeurs pour les Boursicodeurs</p>
          </footer>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
     <script src="{{ url_for('static', filename='js/includes.js') }}"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>
