{% extends 'base.html' %}
{% block body %}
    <div class="row">
        <div class="col-12 mb-3">
            <h2>Actions du bot</h2>
            <form action="{{ url_for('buy_sell') }}" method="POST">
                <select name="model" size="1">
                    {% for model in models %}
                    <option value="{{ model.id }} ">{{ model.filename }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn btn-light border" name="submit" value="Achat/Vente"/>
            </form>
        </div>
        <div class="col-12">
            <h2>Paramètres du bot</h2>
            <form action="{{ url_for('free_trader')}}" method="POST">
              {{ botform.time_trade.label() }}
              {{ botform.time_trade }}
              {{ botform.submit }}
            </form>
        </div>
    </div>



{% endblock %}
