{% extends 'base.html' %}
{% block body %}
    <div class="row">
        <div class="col-12 mb-3">
            <h2>Actions du bot</h2>
            <a href="{{ url_for('buy_sell') }}"><button class="btn btn-light border">Achat/Vente</button></a>
        </div>
        <div class="col-12">
            <h2>Paramètres du bot</h2>
            <form action="{{ url_for('free_trader')}}" method="POST">
              {{ botform.time_trade.label() }}
              {{ botform.time_trade }}
              {{ botform.submit }}
            </form>
        </div>
    </div>



{% endblock %}
