{% extends 'base.html' %}
{% block body %}

    <div class="col-12">
      <h2 class="mb-2">Création de modèle</h2>
      <form method="POST" action="{{ url_for('train_model') }}" class="form-inline">
          {{ trainform.hidden_tag() }}
          <div class="form-group">
            {{ trainform.epochs.label() }}
            {{ trainform.epochs(class="form-control") }}
          </div>
          <div class="form-group">
            {{ trainform.batch_size.label() }}
            {{ trainform.batch_size(class="form-control") }}
          </div>
          <div class="form-group">
            {{ trainform.time_steps.label() }}
            {{ trainform.time_steps (class="form-control")}}
          </div>
            {{ trainform.submit(class='btn btn-primary') }}
      </form>
    </div>

    <div class="my-4">
        <h2 class="mb-4">Modèles déjà entraînés</h2>
        <table class="table">
            <thead class="thead-light">
             <tr>
                <th scope="col">filename</th>
                <th scope="col">epochs</th>
                <th scope="col">batch_size</th>
                <th scope="col">time_steps</th>
                <th scope="col">total_train</th>
                <th scope="col">total_validation</th>
                <th scope="col">total_test</th>
                <th scope="col">score_train</th>
                <th scope="col">score_validation</th>
                <th scope="col">score_test</th>
                 <th></th>
                 <th></th>
            </tr>
            </thead>
            <tbody>
        {% for model in list_models %}
            <tr>
                <th scope="row">{{ model.filename }}</th>
                <td>{{ model.epochs }}</td>
                <td>{{ model.batch_size }}</td>
                <td>{{ model.time_steps }}</td>
                <td>{{ model.total_train }}</td>
                <td>{{ model.total_validation }}</td>
                <td>{{ model.total_test }}</td>
                <td>{{ model.score_train }}</td>
                <td>{{ model.score_validation }}</td>
                <td>{{ model.score_test }}</td>
                <td><a href="{{ url_for('get_predict', model_id=model.id, asset_id=1) }}"><button class="btn btn-primary">Prédire</button></a></td>
                <td><a href="{{ url_for('delete_model', model_id=model.id) }}"><button class="btn btn-danger">Supprimer</button></a></td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
