{% extends 'base.html' %}
{% block body %}
    <h1>Boursicodeurs</h1>
    <p>Site en construction</p>

    <div>
        <h2>Gestion du model</h2>
        <form method="POST" action="{{ url_for('train_model') }}">
            {{ trainform.hidden_tag() }}
            {{ trainform.epochs.label() }}
            {{ trainform.epochs }}
            {{ trainform.batch_size.label() }}
            {{ trainform.batch_size }}
            {{ trainform.time_steps.label() }}
            {{ trainform.time_steps }}
            {{ trainform.submit }}
        </form>
    </div>
    <div class="">
        <h2>Prédiction</h2>
        <table>
             <tr>
                <td>filename</td>
                <td>epochs</td>
                <td>batch_size</td>
                <td>time_steps</td>
                <td>total_train</td>
                <td>total_test</td>
                <td></td>
            </tr>
        {% for model in list_models %}
            <tr>
                <td>{{ model.filename }}</td>
                <td>{{ model.epochs }}</td>
                <td>{{ model.batch_size }}</td>
                <td>{{ model.time_steps }}</td>
                <td>{{ model.total_train }}</td>
                <td>{{ model.total_test }}</td>
                <td><a href="{{ url_for('get_predict', model=model.id, asset=1) }}"><button>Utiliser</button></a></td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <div>
        <h2>Liste des indices</h2>
        {% for instrument in instruments %}
            <a href="{{ url_for('get_data', instrument=instrument, period='H1', number=10000)}}">{{ instrument }}</a>
        {% endfor %}
    </div>
{% endblock %}
