{% extends 'base.html' %}
{% block body %}
    <div class="row">
        <div class="col-12">
        <h2>Actualiser vos indices</h2>
        <ul class="list-group">
        {% for asset in assets %}
            <li class="list-group-item"><a href="{{ url_for('get_data', instrument=asset.name, period='H1', number=10000)}}">{{ asset.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    </div>

<div class="row">
    <h2>Indices Fxcm</h2>
    <div id="instruments-fxcm" class="col-12">
        <button id="btn-load-instruments" class="btn btn-primary">Voir tout les indices</button>
    </div>
</div>
{% endblock %}
