{% extends 'base.html' %}
{% block body %}
    <div>
        <h2>Actualiser vos indices</h2>
        <ul class="list-group">
        {% for asset in assets %}
            <li class="list-group-item"><a href="{{ url_for('get_data', instrument=asset.name, period='H1', number=10000)}}">{{ asset.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Liste des indices</h2>
        <ul class="list-group">
        {% for instrument in instruments %}
            <li class="list-group-item"><a href="{{ url_for('get_data', instrument=instrument, period='H1', number=10000)}}">{{ instrument }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
